.paper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    align-items: center;
    background-image: url("paper.jpg");
    padding: 70px;
    border: solid #8f7457;
    max-height: 500px;
    max-width: 700px;
}

span + span {
    margin-left: 15px;
}

.scrollbox {
    max-height: 300px;
    max-width: 500px;
    background-color: none;
    border: 2px solid #8f7457;
    padding: 30px;
    margin: 10px;
    overflow: auto;
}

.text-break {
    padding: 5px;
}

select {
    padding: 3px;
    font-family: 'bootstrap-icons';
}
option {
    padding: 3px;
}